.feed-article {
    border-style:solid;
    border-width:1px;
    background-color: whitesmoke;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.feed-article:visited {
    background-color: mediumpurple;
}
.feed-article:hover, .feed-article:active {
    background-color: lightskyblue;
}
.text-upper-padding {
    padding-top: 5px;
}
.button-utils {
    background-color: #9fc7e0;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 12px;
}

    .button-utils:hover, .button-utils:active {
        background-color: #bbe0f7;
    }

hr {
    margin: 0.5rem;
}